body {
    overflow: hidden;
}

.MainLayout {
    height: 100vh;
}

.Logo {
    height: 32px;
    background: rgba(0, 0, 0, .2);
    margin: 16px;
}

.TopBar {
    padding: 0;
    height: 46px;
    line-height: 46px;
}